---
import { ABOUT_PAGE } from "@util/Constant";
import Head from "@components/Astro/Head.astro";
import Content from "@layouts/Content.astro";
import Main from "@layouts/Main.astro";
import AboutModules from "@modules/Vue/AboutModules.vue";
---

<!DOCTYPE html>
<html lang="en">
  <Head title="About" />
  <Main>
    <Content>
      <AboutModules />
    </Content>
  </Main>
</html>
