---
import Head from "@components/Astro/Head.astro";
import HomeModules from "@modules/React/HomeModules";
import Content from "@layouts/Content.astro";
import Main from "@layouts/Main.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Head title="Home" />
  <Main>
    <Content>
      <HomeModules client="load" />
    </Content>
    <Content>
      <section class="flex justify-end w-full">
        <img src="/assets/me.webp" width="400" height="400" loading="lazy" draggable="false" alt="profile photo" sizes="400, 200"/>
      </section>
    </Content>
  </Main>
</html>
