---
import Card from "@components/Astro/Card.astro";
import Grid from "@components/Astro/Grid.astro";
import Head from "@components/Astro/Head.astro";
import Content from "@layouts/Content.astro";
import Main from "@layouts/Main.astro";
import type { ProjectInterfaces } from "@util/Interfaces";

const { ProjectData } = Astro.props as ProjectInterfaces;
---

<!DOCTYPE html>
<html lang="en">
  <Head title="Projects" />
  <Main>
    <Content>
      <h1 class="text-4xl text-white font-lato font-700">Here's my Projects</h1>
      <Grid>
        {ProjectData.map((project) => <Card {...project} />)}
      </Grid>
    </Content>
  </Main>
</html>
