---
import HomeModules from "@modules/index";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Astro Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <HomeModules />
    <slot />
  </body>
</html>
