---
import Navbar from "@components/React/Navbar";
---

<body class="bg-gray-800">
  <Navbar />
  <section class="flex flex-col md:flex-row w-full h-screen md:justify-between justify-start gap-y-4 px-6 md:px-12 p-8 mt-4">
    <slot />
  </section>
</body>
